# https://editorconfig.org

root = true

# Global defaults
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown, config files
[*.{md,yml,yaml,json,ini,config}]
insert_final_newline = false
trim_trailing_whitespace = false
indent_size = 2

# Shell scripts
[*.{command,sh,bash,zsh,ps1,psm1}]
end_of_line = lf

# Windows batch files
[*.{bat,cmd}]
end_of_line = crlf

# Terraform
[*.{tf,hcl,tfvars,tfbackend,tf.json,tfvars.json,tftest.json}]
indent_size = 2
