# https://editorconfig.org

# top-most EditorConfig file
root = true

# Global defaults
[*]
end_of_line = lf
charset = utf-8
indent_style = space
tab_width = 4
trim_trailing_whitespace = false
max_line_length = 120

# Project code
[*.{cs,c,cpp,cxx,h,hxx}]
indent_style = tab
indent_size = 4

# Utility code
[*.{js,ts,py}]
charset = utf-8
indent_size = 4

# Markdown, config files
[*.{md,yml,yaml,json,ini,config}]
indent_size = 2

# Shell scripts
[*.{command,sh,bash,zsh,ps1,psm1,psd1}]
indent_style = space

# Windows scripts
[*.{bat,cmd}]
end_of_line = crlf

# MSBuild and VS project files
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
end_of_line = crlf
[*.{sln,csproj,fsproj,vbproj,vcxproj,vcproj,dbproj}]
end_of_line = crlf
[*.{lsproj,wixproj,modelproj,sqlproj,wmaproj,xproj}]
end_of_line = crlf
[*.{booproj,unityproj,props,filters,vcxitems}]
end_of_line = crlf

# XML files
[*.{config,nuspec,resx,natvis,axaml,xaml}]
indent_size = 2
